@model Librarie.Models.LibraryViewModels.LibraryViewModel
@using System.Security.Claims;
@{
   
    ViewData["Title"] = "Librarie";
}

<h2>Library</h2>
<p>Avem @Html.DisplayFor(model => model.informations.NumberOfBooks) carti in biblioteca</p>
<p>Data: @Model.informations.Date</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Action</th>
            <th>Copies</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.books)
        {
            <tr>
                <td>@book.id</td>
                <td>@book.title</td>
                <td>@book.author</td>
                @{ bool isBorrowed = false;
                   string userId = null;
                   string currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
                }
                @foreach(var tranzaction in Model.tranzactions)
                {
                    if(book.id == tranzaction.BookId)
                    {
                        isBorrowed = true;
                        userId = tranzaction.UserId;
                        if (userId == currentUserId)
                        {
                            break;
                        }
                    }
                }
                <td>
                    
                    @if (isBorrowed && currentUserId == userId)
                    {
                        @Html.ActionLink("Return", "Return", new { id = @book.id }, new { @class = "btn btn-warning"})
                    }
                    else if(book.numberOfCopies == 0)
                    {
                        <p>Exhausted</p>
                    }
                    else
                    {
                        @Html.ActionLink("Borrow", "Borrow", new { id = @book.id }, new { @class = "btn btn-primary" })
                    }
                </td>
                <td>
                    @book.numberOfCopies
                </td>
            </tr>
        }
    </tbody>
</table>

